<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/responsive-nav-bar.css">
    <link rel="stylesheet" href="/static/styles/column-layout.css">
    <link rel="stylesheet" href="/static/styles/vertical-menu.css">
    <link rel="stylesheet" href="/static/styles/collapsible.css">
    <link rel="stylesheet" href="/static/styles/table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/">Main Page</a>
        <div class="dropdown">
            <button class="dropbtn">Blog
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/blog/erasmus">Erasmus+</a>
            </div>
          </div>

        {% if username == "Not logged in" %}
        
        <a style="float: right;" href="/login">Login</a>
        <a style="float: right;" href="/register">Register</a>
        
        {% else %}
        
        
        <div class="dropdown right-aligned">
            <button class="dropbtn">{{username}}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content right-aligned">
                <a href="/files">Files</a>
                <a href="/logout">Log out</a>
            </div>
        </div>
        <a style="float: right;" href="/upload">Upload</a>

        {% endif %}
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveNavbar()">&#9776;</a>
    </div>

    <div class="column left">
    </div>
    <div class="column middle">
        <table>
            <thead>
                <tr>
                    <th>Filename</th>
                    <th style="text-align: right;">PH</th>
                    <th style="text-align: right;">PH</th>
                    <th style="text-align: right;">Download</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                
            </tbody>
        </table>
    </div>
    <div class="column right">
  
    </div>

    

    <script>
        function updateTable(){
            BODY.innerHTML = ""

            //list = sortList(filterList())

            for(x of LIST){
                BODY.innerHTML += "<tr>"+
                                "<td>" + x.filename + "</td>"+
                                "<td style=\"text-align: right;\">" + "PH" + "</td>"+
                                "<td style=\"text-align: right;\">" + "PH" + "</td>"+
                                "<td style=\"text-align: right;\">" + "<a href=\"/download?filename=" + x.filename + "\">Download</a>" + "</td>"+
                                "</tr>"
            }
        }

        LIST = JSON.parse('{{  itemList|tojson }}')
        BODY = document.getElementById("tableBody")
        SORTBY = document.getElementById("sortBy")
        FILTERTRIDA = document.getElementById("filterTrida")

        updateTable()
    </script>

<script>
    function responsiveNavbar() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</body>
</html>