<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/responsive-nav-bar.css">
    <link rel="stylesheet" href="/static/styles/column-layout.css">
    <link rel="stylesheet" href="/static/styles/vertical-menu.css">
    <title>Document</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/">Main Page</a>
        <div class="dropdown">
          <button class="dropbtn">Blog
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/blog/erasmus">Erasmus+</a>
          </div>
        </div>

        {% if username == "Not logged in" %}
        
        <a style="float: right;" href="/login">Login</a>
        <a style="float: right;" href="/register">Register</a>
        
        {% else %}
        
        <div class="dropdown right-aligned">
          <button class="dropbtn">{{username}}
              <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content right-aligned">
              <a href="/files">Files</a>
              <a href="/logout">Log out</a>
          </div>
        </div>


        {% endif %}
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveNavbar()">&#9776;</a>
    </div>
    
    <div class="row">
      <div class="column left">
      </div>
      <div class="column middle">
        <h2>Logged out</h2>
        <p>Successfully logged out. </p>
        <div class="vertical-menu">
            <a href="/">Main Page</a>
        </div>
      </div>
      <div class="column right">
        
      </div>
  </div>

    <!--
        PASTED GARBAGE AHEAD
    -->
    <script>
      function responsiveNavbar() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
</body>
</html>